/* =========================
   HERO SECTION — DESKTOP PAR DÉFAUT
========================= */

.home-hero {
    position: relative;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========================
   BOUTON "LOAD MORE"
========================= */

.btn-load-more {
    width: 20%;
    text-align: center;
    padding: 15px;
    background-color: #D8D8D8;
    color: black;
    border: none;
    transition: background-color .3s ease, color .3s ease;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    letter-spacing: .03em;
    cursor: pointer;
}

.btn-load-more:hover {
    background-color: black !important;
    color: white !important;
    border: none !important;
}


/* =========================
   RESPONSIVE — TABLETTE (≤1024)
========================= */

@media (max-width:1024px) {
    .btn-load-more {
        width: 50%;
    }

    .home-hero {
        height: 65vh;
    }

    .home-hero__inner h1 {
        font-size: 6vw;
        -webkit-text-stroke: 2px #fff;
        text-align: center;
    }
}


/* =========================
   RESPONSIVE — MOBILE (≤640)
========================= */

@media (max-width:640px) {
    .btn-load-more {
        width: 50%;
    }

    .home-hero {
        height: 50vh;
    }

    .home-hero__inner h1 {
        font-size: 7vw;
        -webkit-text-stroke: 1px #fff;
        text-align: center;
    }
}


/* =========================
   TITRE DANS LE HERO
========================= */

.home-hero__inner h1 {
    font-family: "Space Mono", monospace;
    font-style: italic;
    text-transform: uppercase;
    font-size: 6vw;
    /* desktop */
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 3px #fff;
    letter-spacing: .05em;
}